body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(27, 23, 19);

}

header {
    text-align: center;
    font-size: 1rem;
    background-color: white;
    padding: 2px;

}

.game-area {
    background-color: #c4b5a5;
    box-sizing: border-box;
    width: 90%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 1%;
}

.options {
    width: 85%;
    margin: 30px auto;
}


.btn {
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.2px;

}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    background-color: white;
    border: 5px transparent;
    width: 80px;
    height: 80px;
    font-size: 3.2rem;
    margin: 0 25px;
    transition: all 0.5s;
    border-radius: 100%;
}

.btn--big::after {
    font-size: 1rem;
    color: #445361;
    position: relative;

}

#result {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    margin: auto;
}


.scores {
    display: inline-block;
    padding: 5px;
}

.score-area {
    margin: auto;
    width: 80%;
    font-size: 3.2rem;
    text-align: center;
    
}

#player-score {
    color: green;
    font-weight: bold;
}

#computer-score {
    color: red;
    font-weight: bold;
}

#reset {
    margin-top: 25px;
    background-color:  #463120;
    border: 1px transparent;
    border-radius: 20px;
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

#reset:hover {
    background-color: white;
    color: #463120;
}


.reset {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
}